* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  overflow: hidden;
  .header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 175, 9);
    &__left {
      display: flex;
      align-items: center;
      a {
        img {
          margin-left: 50px;
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      &__content {
        margin-top: 20px;
        margin-left: 10px;

        h3 {
          font-size: 23px;
          color: #fff;
          font-family: "Fira Sans", sans-serif;
        }
        p {
          margin-top: 5px;
          font-size: 18px;
          color: #fff;
          font-family: "Fira Sans", sans-serif;
        }
      }
    }
    &__right {
      h5 {
        font-size: 20px;
        margin-right: 30px;
        color: #fff;
      }
    }
  }
  .board_statistics {
    position: fixed;
    height: 90vh;
    width: 500px;
    background-color: #eee;

    display: none;
    &__button {
      width: 100%;
      text-align: right;
      button {
        overflow: hidden;
        font-size: 10px;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        background-color: #fff;
        border-radius: 50%;
        border-color: #fff;
      }
    }
    &__title {
      font-family: "Roboto", sans-serif;
      text-align: center;
      h5 {
        font-size: 25px;
      }
    }
    &__manager {
      background-color: rgb(255, 255, 255);
      margin: 10px;
      padding: 10px;
      margin-top: 30px;
      border-radius: 10px;
      &__left {
        &__car {
          display: flex;
          h4 {
            font-size: 20px;
          }
        }
      }
    }
  }

  .body {
    &__map {
      iframe {
        height: 90vh;
      }
    }
    &__tool {
      transform: translateY(-120%);
      display: flex;
      justify-content: space-between;
      &__bar {
        padding: 5px 10px;
        display: inline;
        margin-left: 20px;
        font-size: 30px;
        background-color: #fff;
        color: rgb(48, 238, 48);
        border-radius: 10px;
      }
      &__statistics {
        display: flex;
        #button_statistics {
          font-size: 20px;
          background-color: #fff;
          color: #000;
          border-color: #000;
          display: block;
        }
      }
    }
  }
}
